@model List<Factura>
<partial name="_Notification" />
    <div class="container">

    <div class="row pt-4 pb-3">
        <div class="col-6">
            @if (ViewBag.Tipo == "Entrada")
            {
                <h2 class="text-primary">Lista de Facturas de Entrada</h2>
            } else if (ViewBag.Tipo == "Salida")
            {
                <h2 class="text-primary">Lista de Facturas de Salidas</h2>
            }
            
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Factura" asp-action="Upsert" asp-route-Tipo="@ViewBag.Tipo" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Agregar factura
            </a>
        </div>
    </div>


<table class="table table-bordered table-stripped">
    <thead>
    <tr>
        <th>
            Id de factura
        </th>
                <th>
                    Proyecto
                </th>
                @if (ViewBag.Tipo == "Salida")
                {
                    <th>
                        Mivel
                    </th>
                    <th>
                        Aposento
                    </th>
                    <th>
                        Recinto
                    </th>

                }

        <th>
            Fecha
        </th>
        <th>
            Tipo de Factura
        </th>
        <th>
            Comentario
        </th>
        <th>

        </th>
        <th>

        </th>
    
    </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(u=>u.IdFactura))
        {
            <tr>
            <td>
                @obj.IdFactura
            </td>
                    <td>
                        @obj.Proyecto.NombreProyecto
                    </td>
                    @if (ViewBag.Tipo == "Salida")
                    {
                        <td>
                            @obj.Recinto.Aposento.Nivel.NombreNivel
                        </td>
                        <td>
                            @obj.Recinto.Aposento.NombreAposento
                        </td>
                        <td>
                            @obj.Recinto.NombreRecinto
                        </td>

                    }
            <td>
                @obj.Fecha
            </td>
            <td>
                @obj.TipoFactura.NombreTipoFactura
            </td>
            <td>
                @obj.Comentario
            </td>
            <td>
                        <a asp-controller="Factura" asp-action="DetalleFactura" asp-route-idFactura="@obj.IdFactura" class="btn btn-outline-secondary form-control">
                            Imprimir Factura
                        </a>
            </td>

            <td>
                        @if (User.IsInRole(SD.Role_Admin) || obj.EstadoFactura==0)
                        {


                            <div class="w-75 btn-group" role="group">

                                @if (ViewBag.Tipo == "Entrada")
                                {
                                    <a asp-controller="factura" asp-action="Upsert" asp-route-IdFactura="@obj.IdFactura" asp-route-Tipo="Entrada" class="btn btn-primary mx-2">
                                        <i class="bi bi-pencil">Editar factura</i>
                                    </a>
                                }
                                else if (ViewBag.Tipo == "Salida")
                                {
                                    <a asp-controller="factura" asp-action="Upsert" asp-route-IdFactura="@obj.IdFactura" asp-route-Tipo="Salida" class=" btn btn-primary mx-2">
                                        <i class="bi bi-pencil">Editar factura</i>
                                    </a>
                                }

                                
                            <a asp-controller="factura" asp-action="Borrar" asp-route-IdFactura="@obj.IdFactura" class="btn btn-danger mx-2">
                                <i class="bi bi-trash3">Borrar Factura</i>
                            </a>
                            
                </div>
                }
            </td>
        
        </tr>
        }
    </tbody>
</table>

</div>
