@model Prototipo1.Models.ViewModels.RecintoProductoVM

<form asp-action="Upsert" asp-controller="RecintoProducto" method="post" class="row" enctype="multipart/form-data">

    <input asp-for="RecintoProducto.IdRecinto" value="@ViewBag.IdRecinto" hidden />
    <input asp-for="RecintoProducto.IdRecintoProducto" hidden />
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary">
                        @(Model.RecintoProducto.IdRecintoProducto != 0 ? "Actualizar" : "Crear") Presupuesto
                    </h2>
                </div>

                <div class="mb-3 row p-1">
                    <label class="p-0">Producto</label>
                    <select asp-for="@Model.RecintoProducto.IdProducto" asp-items="@Model.ProductoList" class="form-select">
                        <option disabled selected>---Seleccionar Producto---</option>
                    </select>
                    <span asp-validation-for="RecintoProducto.IdProducto" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="RecintoProducto.Presupuesto" class="p-0"></label>
                    <input asp-for="RecintoProducto.Presupuesto" class="form-control" />
                    <span asp-validation-for="RecintoProducto.Presupuesto" class="text-danger"></span>
                </div>

                <div class="mb-3 row p-1">
                    <label asp-for="RecintoProducto.Desperdicio" class="p-0"></label>
                    <input asp-for="RecintoProducto.Desperdicio" class="form-control" />
                    <span asp-validation-for="RecintoProducto.Desperdicio" class="text-danger"></span>
                </div>


                <div class="row">
                    <div class="col-6 col-md-3">
                        @if (Model.RecintoProducto.IdRecintoProducto != 0)
                        {
                            <button type="submit" class="btn btn-primary form-control">Actualizar</button>
                            
                        } else
                        {
                            <button type="submit" class="btn btn-primary form-control">Agregar</button>
                        }

                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="RecintoProducto" asp-action="Index" asp-route-IdRecinto="@ViewBag.IdRecinto" class="btn btn-outline-secondary form-control">
                            Volver a la lista de Productos
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>
